{% extends "base.html" %}
 {%load static %} 
 {% block content %}
 {% load widget_tweaks %}
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>      
    <script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fusion.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"
    ></script>
 <div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
          <div class="row">  
              <!-- task, page, download counter  start -->
              <div class="col-xl-2 col-md-6">
                <div class="card bg-c-yellow update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">{{project_count_data.all_project}}</h4>
                                <h6 class="text-white m-b-0">Projects</h6>
                            </div>
                         
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">All projects</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-c-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">{{project_count_data.Accepted_project}}</h4>
                                <h6 class="text-white m-b-0">Appraisal Accepted</h6>
                              
                            </div>
                           
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">Accepted Project</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-c-lite-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-12">
                                <h4 class="text-white">{{project_count_data.unaccepted_project}}</h4>
                                <h6 class="text-white m-b-0">Appraisal unaccepted</h6>
                            </div>
                           
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">Rejected Project</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-c-pink update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">{{project_count_data.project_on_implementation}}</h4>
                                <h6 class="text-white m-b-0">Implementation</h6>
                            </div>
                          
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">Project on Implemetation</p>
                    </div>
                </div>
            </div>
        
          
            <div class="col-xl-2 col-md-6">
                <div class="card bg-c-lite-green update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">{{project_count_data.not_evaluated_project}}</h4>
                                <h6 class="text-white m-b-0">Not Evaluated</h6>
                            </div>
                           
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">Project Not Evaluated</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card bg-c-blue update-card">
                    <div class="card-block">
                        <div class="row align-items-end">
                            <div class="col-8">
                                <h4 class="text-white">000</h4>
                                <h6 class="text-white m-b-0">Completed</h6>
                            </div>
                          
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="text-white m-b-0">Completed Project</p>
                    </div>
                </div>
            </div>
   
            <!-- task, page, download counter  end -->
        <div class="col-12" > 
            <div class="row">
                <div class="col-sm-4 card-block" style="margin-bottom: 19px;    background-color: white; ">
                    <div class="table-responsive dt-responsive" style=" background-color: white; "  >
                        Last Apperisal
                        <table id="complex-header2" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th rowspan="0">Project Name</th>
                                    <th> Date</th>
                                </tr>
                            
                            </thead>
                            <tbody>
                                {% for rs in last_project_appraisal %}
                                <tr>
                                    <td><a href="{% url 'report:project_information_report_detail' rs.id  %}" >{{rs.project_name}}</a></td>
                                    <td>{{rs.created_date}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
            
                    </div>
                </div>
                <div class="col-sm-4 card-block"style="margin-bottom: 19px; background-color: white; "  >
                    <div class="table-responsive dt-responsive" style=" background-color: white; " >
                        Last Project Implementation
                        <table id="complex-header2" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th rowspan="0">Project Name</th>
                                    <th> Date</th>
                                </tr>
                            
                            </thead>
                            <tbody>
                                {% for rs in last_project_implementation %}
                                <tr>
                                    <td><a href="{% url 'report:project_information_report_detail' rs.id  %}" >{{rs.project.project_name}}</a></td>
                                    <td>{{rs.project.created_date}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
            
                    </div>
                </div>
                <div class="col-sm-4 " style="margin-bottom: 19px; ">
                      <div class="col-sm-3">
                          {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                       
                          <div id="chart-8">{{ output8|safe }}</div>
                      </div>
                  </div>
                <div class="col-sm-4 " style="margin-bottom: 19px;
              ">
                    <div class="col-sm-3">
                        {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                     
                        <div id="chart-1">{{ output|safe }}</div>
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom: 19px;
              ">
                    <div class="col-sm-3">
                        {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                          <div id="chart-2">{{ output2|safe }}</div>
            
                    </div>
                </div>
                <div class="col-sm-4" style="margin-bottom: 19px;
              ">
                    <div class="col-sm-3">
                        {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                          <div id="chart-3">{{ output3|safe }}</div>
            
                    </div>
                </div><br>

          

               
                 <div class="col-sm-4" style="margin-bottom: 19px;
               ">
                    <div class="col-sm-3">
                        {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                          <div id="chart-4">{{ output4|safe }}</div>
            
                 </div>
                </div>
                 <div class="col-sm-4" style="margin-bottom: 19px;
               ">
                    <div class="col-sm-3">
                        {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                          <div id="chart-5">{{ output5|safe }}</div>
            
                 </div>
                </div>
                <div class="col-sm-4" style="margin-bottom: 19px;
                ">
                     <div class="col-sm-3">
                         {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                           <div id="chart-6">{{ output6|safe }}</div>
             
                  </div>
                 </div>
                 <div class="col-sm-4" style="margin-bottom: 19px;">
                      <div class="col-sm-3">
                          {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                            <div id="chart-7">{{ output7|safe }}</div>
              
                   </div>
                  </div>
                  <div class="col-sm-4 " style="margin-bottom: 19px;
                  ">
                        <div class="col-sm-3">
                            {% comment %} <p class="m-b-10 f-w-600">Project Name</p> {% endcomment %}
                         
                            <div id="chart-9">{{ output9|safe }}</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{%endblock%}